@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  outline: none;
}

.header {
  border: inherit;
  width: 100%;
  height: 400px;
  padding: 0 70px;
  background: url(../IMG/bac-img.jpg) no-repeat;
  background-size: cover;
}
.header .navbar {
  border: inherit;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar img {
  width: 151px;
  height: 80px;
}
.header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header .navbar ul li:nth-child(6) a {
  color: #f7be27;
}
.header .navbar ul li a {
  text-decoration: none;
  padding: 0 16px;
  color: #fff;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  transition: 0.5s;
}
.header .navbar ul li a:hover {
  color: rgba(255, 255, 255, 0.5529411765);
}
.header .navbar ul i {
  color: #fff;
  font-size: 20px;
  padding: 0 16px;
}
.header .user-text {
  border: inherit;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 25px;
  letter-spacing: 4px;
  font-family: "Oswald", sans-serif;
}
.header .user-text h5 {
  letter-spacing: 2px;
  padding: 15px;
  font-size: 18px;
}

.section {
  border: inherit;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .lacation {
  border: inherit;
  width: 350px;
  height: 560px;
  margin: 20px;
  overflow: hidden;
}
.section .lacation .user-img {
  border: inherit;
  width: 350px;
  height: 375px;
  overflow: hidden;
}
.section .lacation .user-img img {
  width: 350px;
  height: 375px;
  transition: all 0.5s;
}
.section .lacation .user-img img:hover {
  transform: scale(1.2);
}
.section .lacation .user-text {
  border: inherit;
  height: 225px;
  text-align: center;
  padding: 0 45px;
}
.section .lacation .user-text h2 {
  color: red;
  font-size: 1.6rem;
  line-height: 1;
  margin: 15px 0 10px;
}
.section .lacation .user-text h4 {
  color: #000;
  font-size: 1.1rem;
}
.section .lacation .user-text h4:nth-child(2) {
  margin: 15px;
}
.section .lacation .user-text h5 {
  font-size: 1rem;
  color: rgb(87, 85, 85);
  margin: 10px;
}

.footer {
  border: inherit;
  width: 100%;
  height: 400px;
  background-color: #1e1e1c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .box {
  border: inherit;
  width: 350px;
  height: 300px;
  padding: 0 30px;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1rem;
  letter-spacing: 0.1em;
}
.footer p {
  color: rgba(255, 255, 255, 0.5529411765);
  font-size: 1.1rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.footer button {
  margin: 20px 0;
  padding: 10px 23px;
  color: #fff;
  border: none;
  background: orange;
  border-radius: 5px;
}
.footer .icons i {
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.5529411765);
  transition: all 0.2s;
}
.footer .icons i:hover {
  color: #FFF;
}
.footer .center-side {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
.footer .center-side .side {
  border: inherit;
  width: 250px;
  padding: 0 30px;
}
.footer .center-side .side ul {
  list-style: none;
}
.footer .center-side .side ul li {
  margin-bottom: 1rem;
}
.footer .center-side .side ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5529411765);
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.footer .center-side .side ul a:hover {
  color: #fff;
}/*# sourceMappingURL=stayl.css.map */