@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    outline: none;
    // border: 1px solid red;
}

.header{
    border: inherit;
    width: 100%;
    height: 400px;
    padding: 0 70px;
    background: url(../IMG/bac-img.jpg) no-repeat;
    background-size: cover;
    

    .navbar{
        border: inherit;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{
            width: 151px;
            height: 80px;
        }

        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;

            li{

                &:nth-child(6){
                    a{
                        color: #f7be27;
                    }
                }
                a{
                    text-decoration: none;
                    padding: 0 16px;
                    color: #fff;
                    font-size: 22px;
                    font-family: 'Oswald', sans-serif;
                    transition: 0.5s;

                    &:hover{
                        color: #FFFFFF8D;
                    }
                }
            }

            i{
                color: #fff;
                font-size: 20px;
                padding: 0 16px;
            }
        }
    }

    .user-text{
        border: inherit;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        font-size: 25px;
        letter-spacing: 4px;
        font-family: 'Oswald', sans-serif;

        h5{
            letter-spacing: 2px;
            padding: 15px;
            font-size: 18px;
        }
    }
}

.section{
    border: inherit;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    .lacation{
        border: inherit;
        width: 350px;
        height: 560px;
        margin: 20px;
        overflow: hidden;

        .user-img{
            border: inherit;
            width: 350px;
            height: 375px;
            overflow: hidden;

            img{
                width: 350px;
                height: 375px;
                transition: all .5s;

                &:hover{
                    transform: scale(1.2);
                    // transition: all .5s;
                }
            }
        }

        .user-text{
            border: inherit;
            height: 225px;
            text-align: center;
            padding: 0 45px;

            h2{
                color: red;
                font-size: 1.6rem;
                line-height: 1;
                margin: 15px 0 10px;
            }

            h4{
                color: #000;
                font-size: 1.1rem;
                &:nth-child(2){
                    margin: 15px;
                }
            }

            h5{
                font-size: 1rem;
                color: rgb(87, 85, 85);
                margin: 10px;
            }
        }
    }
}

.footer{
    border: inherit;
    width: 100%;
    height: 400px;
    background-color: #1e1e1c;
    display: flex;
    justify-content: center;
    align-items: center;

    .box{
        border: inherit;
        width: 350px;
        height: 300px;
        padding: 0 30px;
    }

    h3{
        color: #fff;
        margin-bottom: 20px;
        font-size: 1rem;
        letter-spacing: .1em;
    }
    
    p{
        color: #FFFFFF8D;
        font-size: 1.1rem;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    button{
        margin: 20px 0;
        padding: 10px 23px;
        color: #fff;
        border: none;
        background: orange;
        border-radius: 5px;
    }

    .icons{
        i{
            margin: 0 10px;
            color: #FFFFFF8D;
            transition: all .2s;

            &:hover{
                color: #FFF;
            }
        }
    }

    .center-side{
        width: 500px;
        display: flex;
        justify-content: space-around;
        
        .side{
            border: inherit;
            width: 250px;
            padding: 0 30px;
            ul{
                list-style: none;

                li{
                    margin-bottom: 1rem;
                }

                a{
                    text-decoration: none;
                    color: #FFFFFF8D;
                    font-size: .9rem;
                    letter-spacing: 1px;
                    // font-family: 'Oswald', sans-serif;
                    transition: all .3s;

                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 500px) and(max-width:1500px) {
    .fa-bars{
        display: none;
    }
  }

@media only screen and (min-width:300px) and (max-width:500px) {

    body{
        // border: 1px solid red;

        .header, .section, .footer{
            width: 100%;
        }
    }

    .header{
        background-size: cover;
        background-position-x: -300px;
        padding: 0;
        .navbar{
            display: flex;
            padding: 0 20px;
            height: 80px;
            transition: all 1s;
            transform: rotate(0deg);

            i{
                font-size: 1.2rem;
                color: #FFF;

                &:active{
                    transform: rotate(720deg);
                }
                &:focus{
                    transform: rotate(720deg);
                }
                &:hover{
                    transition: all 1s;
                    transform: rotate(720deg);
                }
            }
            img{
                width: 90px;
                height: 50px;
            }
            ul{
                display: none;
            }
        }

        .user-text{
            font-size: 1.2rem;

            h5{
                font-size: .8rem;
            }
        }
    }

    .section{
        width: 100%;
        height: 1300px;
        flex-direction: column;

        .lacation{
            width: 99%;
            height: 400px;
            margin: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items:center;
        }
    }

    .footer{
        flex-wrap: wrap;
        
        .box{
            padding: 10px 0 0 20px;
            width: 190px;
            h3{
                font-size: .8rem;
            }

            p{
                font-size: .8rem;
            }

            button{
                padding: 5px 15px;
            }
        }

        .center-side{
            .side{
                font-size: .9rem;
                &:nth-child(2){
                    display: none;
                }

                ul{
                    li{
                        margin-bottom: .6rem;
                    }
                }
            }
        }

        .right-side{
            width: 100%;
            height: 80px;
            text-align: center;
        }
    }
    
}