@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  outline: none;
}

.header {
  border: inherit;
  width: 100%;
  height: 400px;
  padding: 0 70px;
  background: url(../IMG/bac-img.jpg) no-repeat;
  background-size: cover;
}
.header .navbar {
  border: inherit;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar img {
  width: 151px;
  height: 80px;
}
.header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header .navbar ul li:nth-child(6) a {
  color: #f7be27;
}
.header .navbar ul li a {
  text-decoration: none;
  padding: 0 16px;
  color: #fff;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  transition: 0.5s;
}
.header .navbar ul li a:hover {
  color: rgba(255, 255, 255, 0.5529411765);
}
.header .navbar ul i {
  color: #fff;
  font-size: 20px;
  padding: 0 16px;
}
.header .user-text {
  border: inherit;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 25px;
  letter-spacing: 4px;
  font-family: "Oswald", sans-serif;
}
.header .user-text h5 {
  letter-spacing: 2px;
  padding: 15px;
  font-size: 18px;
}

.section {
  border: inherit;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .lacation {
  border: inherit;
  width: 350px;
  height: 560px;
  margin: 20px;
  overflow: hidden;
}
.section .lacation .user-img {
  border: inherit;
  width: 350px;
  height: 375px;
  overflow: hidden;
}
.section .lacation .user-img img {
  width: 350px;
  height: 375px;
  transition: all 0.5s;
}
.section .lacation .user-img img:hover {
  transform: scale(1.2);
}
.section .lacation .user-text {
  border: inherit;
  height: 225px;
  text-align: center;
  padding: 0 45px;
}
.section .lacation .user-text h2 {
  color: red;
  font-size: 1.6rem;
  line-height: 1;
  margin: 15px 0 10px;
}
.section .lacation .user-text h4 {
  color: #000;
  font-size: 1.1rem;
}
.section .lacation .user-text h4:nth-child(2) {
  margin: 15px;
}
.section .lacation .user-text h5 {
  font-size: 1rem;
  color: rgb(87, 85, 85);
  margin: 10px;
}

.footer {
  border: inherit;
  width: 100%;
  height: 400px;
  background-color: #1e1e1c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .box {
  border: inherit;
  width: 350px;
  height: 300px;
  padding: 0 30px;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1rem;
  letter-spacing: 0.1em;
}
.footer p {
  color: rgba(255, 255, 255, 0.5529411765);
  font-size: 1.1rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.footer button {
  margin: 20px 0;
  padding: 10px 23px;
  color: #fff;
  border: none;
  background: orange;
  border-radius: 5px;
}
.footer .icons i {
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.5529411765);
  transition: all 0.2s;
}
.footer .icons i:hover {
  color: #FFF;
}
.footer .center-side {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
.footer .center-side .side {
  border: inherit;
  width: 250px;
  padding: 0 30px;
}
.footer .center-side .side ul {
  list-style: none;
}
.footer .center-side .side ul li {
  margin-bottom: 1rem;
}
.footer .center-side .side ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5529411765);
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.footer .center-side .side ul a:hover {
  color: #fff;
}

@media screen and (min-width: 500px) and (max-width: 1500px) {
  .fa-bars {
    display: none;
  }
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  body .header, body .section, body .footer {
    width: 100%;
  }
  .header {
    background-size: cover;
    background-position-x: -300px;
    padding: 0;
  }
  .header .navbar {
    display: flex;
    padding: 0 20px;
    height: 80px;
    transition: all 1s;
    transform: rotate(0deg);
  }
  .header .navbar i {
    font-size: 1.2rem;
    color: #FFF;
  }
  .header .navbar i:active {
    transform: rotate(720deg);
  }
  .header .navbar i:focus {
    transform: rotate(720deg);
  }
  .header .navbar i:hover {
    transition: all 1s;
    transform: rotate(720deg);
  }
  .header .navbar img {
    width: 90px;
    height: 50px;
  }
  .header .navbar ul {
    display: none;
  }
  .header .user-text {
    font-size: 1.2rem;
  }
  .header .user-text h5 {
    font-size: 0.8rem;
  }
  .section {
    width: 100%;
    height: 1300px;
    flex-direction: column;
  }
  .section .lacation {
    width: 99%;
    height: 400px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer .box {
    padding: 10px 0 0 20px;
    width: 190px;
  }
  .footer .box h3 {
    font-size: 0.8rem;
  }
  .footer .box p {
    font-size: 0.8rem;
  }
  .footer .box button {
    padding: 5px 15px;
  }
  .footer .center-side .side {
    font-size: 0.9rem;
  }
  .footer .center-side .side:nth-child(2) {
    display: none;
  }
  .footer .center-side .side ul li {
    margin-bottom: 0.6rem;
  }
  .footer .right-side {
    width: 100%;
    height: 80px;
    text-align: center;
  }
}/*# sourceMappingURL=stayl.css.map */