*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
}

.card{
    // border: 2px solid red;
    width: 35%;
    height: 500px;
    margin: auto;
    margin-top: 35px;
    position: relative;
    background-color: white;
    box-shadow: 10px 10px 20px gray;

    .fa-heart{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.8rem;
        color: white;
    }

    img{
        width: 100%;
        height: 250px;
        object-fit:cover;
    }

    h3{
        font-size: 1.8rem;
        margin: 25px;
        letter-spacing: 1px;
        word-spacing: 5px;
    }

    .name-star{
        display: flex;
        justify-content: space-between;
        margin: 25px;

        .name{
            font-size: 1.2rem;
            color: rgb(47, 47, 243);
            letter-spacing: 2px;
        }

        .star{
            display: flex;
           color: gold;

           .grey{
            color: rgb(209, 208, 208);
           }

           p{
            margin-left: 5px;
            color: gray;
            letter-spacing: 0.5px;
           }
        }
    }

    .kcals{
        display: flex;
        justify-content: space-between;
        margin: 25px;
        font-size: 1.2rem;

        .kcal{
            display: flex;
            
            p{
                padding-left: 10px;
            }
        }

        .veg{
            background-color: rgb(6, 236, 6);
            padding: 2px 7px;
            border-radius: 5px;
            color: #eee;
        }
    }

    .money-number{
        border:inherit;
        border-top: 1px solid rgb(179, 175, 175);
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
        align-items: center;

        h2{
            letter-spacing: 3px;
            color: orange;
            font-size: 1.8rem;
        }

        .number{
            display: flex;

            i, p{
                border: 1px solid #eee;
                padding: 2px 7px;
                font-size: 1.2rem;
                background-color: #eee;
                cursor: pointer;
            }

            i{
                background-color: white;
            }
        }
    }
}