*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*       Start Header       */
.header{
    // border: 2px solid red;
    margin: auto;
    position: relative;
    width: 100vw;
    height: 100vh;

    .nav{
        border: inherit;
        position: relative;
        width: inherit;
        height: 200px;

        .div-top{
            border: inherit;
            width: inherit;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: crimson;

            .ul-1{
                display: flex;
                list-style: none;

                li{
                    margin-top: 15px;
                    padding: 0px 4px 0 4px;
                    border-right: 2px solid #eeee;
                    &:nth-of-type(4){
                        border: none;
                    }

                    a{
                        text-decoration: none;
                        color: #eeee;
                    }
                }
            }
            form{
                position: relative;
                margin-right: 10px;
                input{
                    background-color: white;
                    width: 250px;
                    height: 30px;
                    border-radius: 30px;
                    border: none;
                    outline: none;
                    font-family: cursive;
                    padding: 10px;
                    padding-right: 25px;
                }
                i{
                    padding: 4px;
                    position: absolute;
                    top: 2px;
                    right: 25px;
                    font-size: 1.2rem;
                    background-color: crimson;
                    color: white;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

        .div-center{
            border: inherit;
            width: inherit;
            height: 150px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div{
                padding-left: 30px;

                h1{ font-size: 2.9rem;
                    span{
                        font-size: 4rem;
                    }
                }

                h3{
                    font-size: 1.2rem;
                }
            }

            div{
                margin-right: 15px;

                i{
                    font-size: 1.5rem;
                    padding: 9px;
                    background-color: black;
                    color: white;
                    border-radius: 50%;

                    &:hover{
                        background-color: orange;
                    }
                }
            }
        }

        .div-bottom{
            margin: auto;
            border: inherit;
            width: 98vw;
            height: 50px;
            background-color: rgb(36, 35, 35);
            align-items: center;

            .ul-2{
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                
                li{
                    margin-top: 13px;

                    a{
                        align-items: center;
                        color: white;
                        text-decoration: none;

                        &:hover{
                            color: crimson;
                        }
                    }
                }
            }
        }
    }


    .section{
        // border: 2px solid red;
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        .div-img{
            border: inherit;
            width: 45vw;

            img{
                position: absolute;
                left: 10px;
                bottom: 0;
                width: 40vw;
                height: 85vh;
            }
        }

        .div-text{
            border: inherit;
            position: relative;
            width: 55vw;
            padding-top: 150px;

            h1{
                font-size: 8.2rem;
            }

            a{
                color: crimson;
                font-family: cursive;
                text-decoration: none;
                position: absolute;
                right: 50px;

                &:hover{
                  color: red;  
                }
            }
        }
    }
}
/*      End of Header       */