*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    // border: 2px solid red;
    margin: auto;
    width: 100vw;
    height: 100vh;

    .nav{
        border: inherit;
        width: inherit;
        height: 200px;

        .div-top{
            border: inherit;
            width: inherit;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: crimson;

            .ul-1{
                display: flex;
                list-style: none;

                li{
                    margin-top: 15px;
                    padding: 0px 4px 0 4px;
                    border-right: 2px solid #eeee;
                    &:nth-of-type(4){
                        border: none;
                    }

                    a{
                        text-decoration: none;
                        color: #eeee;
                    }
                }
            }
            form{
                position: relative;
                margin-right: 10px;
                input{
                    background-color: white;
                    width: 250px;
                    height: 30px;
                    border-radius: 30px;
                    border: none;
                    outline: none;
                    font-family: cursive;
                    padding: 10px;
                    padding-right: 25px;
                }
                i{
                    padding: 4px;
                    position: absolute;
                    top: 2px;
                    right: 25px;
                    font-size: 1.2rem;
                    background-color: crimson;
                    color: white;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

        .div-center{
            border: inherit;
            width: inherit;
            height: 150px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div{
                padding-left: 30px;

                h1{ font-size: 2.9rem;
                    span{
                        font-size: 4rem;
                    }
                }

                h3{
                    font-size: 1.2rem;
                }
            }

            div{
                margin-right: 15px;

                i{
                    font-size: 1.5rem;
                    padding: 8px;
                    background-color: black;
                    color: white;
                    border-radius: 50%;

                    &:hover{
                        color: orange;
                    }
                }
            }
        }

        .div-bottom{
            border: inherit;
            width: inherit;
            height: 50px;
            background-color: rgb(36, 35, 35);
            align-items: center;

            .ul-2{
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                
                li{
                    margin-top: 13px;

                    a{
                        align-items: center;
                        color: white;
                        text-decoration: none;

                        &:hover{
                            color: crimson;
                        }
                    }
                }
            }
        }
    }
}