* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*       Start Header       */
.header {
  margin: auto;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.header .nav {
  border: inherit;
  position: relative;
  width: inherit;
  height: 200px;
}
.header .nav .div-top {
  border: inherit;
  width: inherit;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: crimson;
}
.header .nav .div-top .ul-1 {
  display: flex;
  list-style: none;
}
.header .nav .div-top .ul-1 li {
  margin-top: 15px;
  padding: 0px 4px 0 4px;
  border-right: 2px solid rgba(238, 238, 238, 0.9333333333);
}
.header .nav .div-top .ul-1 li:nth-of-type(4) {
  border: none;
}
.header .nav .div-top .ul-1 li a {
  text-decoration: none;
  color: rgba(238, 238, 238, 0.9333333333);
}
.header .nav .div-top form {
  position: relative;
  margin-right: 10px;
}
.header .nav .div-top form input {
  background-color: white;
  width: 250px;
  height: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-family: cursive;
  padding: 10px;
  padding-right: 25px;
}
.header .nav .div-top form i {
  padding: 4px;
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 1.2rem;
  background-color: crimson;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
.header .nav .div-center {
  border: inherit;
  width: inherit;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .div-center div {
  padding-left: 30px;
}
.header .nav .div-center div h1 {
  font-size: 2.9rem;
}
.header .nav .div-center div h1 span {
  font-size: 4rem;
}
.header .nav .div-center div h3 {
  font-size: 1.2rem;
}
.header .nav .div-center div {
  margin-right: 15px;
}
.header .nav .div-center div i {
  font-size: 1.5rem;
  padding: 9px;
  background-color: black;
  color: white;
  border-radius: 50%;
}
.header .nav .div-center div i:hover {
  background-color: orange;
}
.header .nav .div-bottom {
  margin: auto;
  border: inherit;
  width: 98vw;
  height: 50px;
  background-color: rgb(36, 35, 35);
  align-items: center;
}
.header .nav .div-bottom .ul-2 {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.header .nav .div-bottom .ul-2 li {
  margin-top: 13px;
}
.header .nav .div-bottom .ul-2 li a {
  align-items: center;
  color: white;
  text-decoration: none;
}
.header .nav .div-bottom .ul-2 li a:hover {
  color: crimson;
}
.header .section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.header .section .div-img {
  border: inherit;
  width: 45vw;
}
.header .section .div-img img {
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 40vw;
  height: 85vh;
}
.header .section .div-text {
  border: inherit;
  position: relative;
  width: 55vw;
  padding-top: 150px;
}
.header .section .div-text h1 {
  font-size: 8.2rem;
}
.header .section .div-text a {
  color: crimson;
  font-family: cursive;
  text-decoration: none;
  position: absolute;
  right: 30px;
}
.header .section .div-text a:hover {
  color: red;
}

/*      End of Header       */
/*      Start Section-1     */
.section-1 {
  display: flex;
  position: relative;
  top: 250px;
  background-color: rgba(238, 238, 238, 0.9333333333);
  width: 100vw;
  height: 100vh;
}
.section-1 div {
  border: inherit;
  width: 33vw;
  height: 100vh;
}
.section-1 div h2 {
  margin: 25px 0 25px 20px;
}
.section-1 .div-img-2 {
  position: relative;
}
.section-1 .div-img-2 img {
  margin-left: 20px;
  width: 390px;
  height: 240px;
}
.section-1 .div-img-2 p {
  margin-top: 20px;
  margin-left: 20px;
}
.section-1 .div-img-2 a {
  color: crimson;
  font-family: cursive;
  text-decoration: none;
  position: absolute;
  right: 30px;
}
.section-1 .div-img-2 a:hover {
  color: red;
}
.section-1 .div-img-text {
  position: relative;
}
.section-1 .div-img-text div {
  display: flex;
  border: inherit;
  height: 122px;
}
.section-1 .div-img-text div img {
  width: 100px;
  height: 85px;
  padding-left: 15px;
}
.section-1 .div-img-text div p {
  border: inherit;
  margin-left: 20px;
  width: 400px;
  height: 85px;
}
.section-1 .div-img-text a {
  color: crimson;
  font-family: cursive;
  text-decoration: none;
  position: absolute;
  right: 30px;
}
.section-1 .div-img-text a:hover {
  color: red;
}
.section-1 .div-text-2 {
  position: relative;
}
.section-1 .div-text-2 div {
  height: 244px;
  padding-top: 35px;
  padding-left: 25px;
}
.section-1 .div-text-2 div h5 {
  padding-left: 40px;
}
.section-1 .div-text-2 a {
  color: crimson;
  font-family: cursive;
  text-decoration: none;
  position: absolute;
  right: 30px;
}
.section-1 .div-text-2 a:hover {
  color: red;
}

/*      End of Section-1        */
/*      Start Footer        */
.footer {
  border: 2px solid red;
  margin-top: 250px;
  position: relative;
  width: 100vw;
  height: 50vh;
  display: flex;
}
.footer div {
  border: inherit;
  width: 25%;
  height: 50vh;
}/*# sourceMappingURL=stayl.css.map */