*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: lightgray;

    .box{
        // border: 2px solid red;
        width: 30%;
        border-radius: 25px;
        background-color: white;
        box-shadow: 5px 5px 15px rgb(49, 48, 48);

        .user-text{
            border-bottom: 1px solid gray;
            width: 90%;
            height: 50px;
            margin: auto;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2{
                font-size: 1.5rem;
                span{
                    display: block;
                }
            }

            i{
                font-size: 1.5rem;
                cursor: pointer;
                color: gray;
            }
        }

        p{
            font-size: 1.5rem;
            padding: 20px;
            color: rgb(153, 150, 150);
        }

        a{
            text-decoration: none;
            font-size: 1.3rem;
            padding: 8px 20px;
            background-color: rgb(165, 216, 216);
            margin: 20px;
            color: black;
            border-radius: 15px;
        }
    }

    .box-1{
        height: 200px;
    }
    .box-2{
        height: 250px;
    }
    .box-3{
        height: 300px;
    }
}