@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
}

.user-menyu{
    border: inherit;
    width:6%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44, 43, 43);

    a{
        text-align: center;
        width: 100%;
        text-decoration: none;
        color: gray;

        i{
            width: 100%;
            font-size: 1.5rem;
            padding: 3px 10px;

            p{
                width: inherit;
                font-size: 0.5rem;
                padding: 10px 0;
                letter-spacing: 1px;
            }

            &:hover{
                background-color: rgb(31, 30, 30);
                color: rgb(16, 173, 173);
            }

            &:active{
                background-color: rgb(31, 30, 30);
            }
        }

        .fa-bars{
            padding: 10px;
            &:hover{
                background-color: rgb(44, 43, 43);
                color: gray;
            }
        }
    }
}

.user-chanel-group{
    // border-right: 1px solid gray;
    width: 23%;
    height: inherit;
    // border: inherit;

    form{
        width: 100%;
        height: 45px;
        // border: inherit;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        input{
            width: 90%;
            padding: 0px 15px;
            outline: none;
            border-radius: 10px;
            border: none;
            background-color: rgb(236, 236, 236);

            &:focus{
                // border: 1px solid blue;
            }
            
            &:placeholder-shown{
                padding: 0 10px;
                color: gray;
                letter-spacing: 1px;
            }
        }
    }

    .chanel-group{
        // border: inherit;
        width: 100%;
        height: 92%;

        .user{
            // border: inherit;
            width: 100%;
            height: 70px;
            display: block;
            position: relative;

            &:hover{
                background-color: lightgray;
            }

            .profil-img{
                // border: inherit;
                width: 70px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;


                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .profil-name{
                // border: inherit;
                width: 230px;
                height: 25px;
                display: flex;
                justify-content: space-between;
                font-size: 1rem;
                margin-top: 15px;
                position: absolute;
                top: 0;
                right: 5px;

                h5{
                    font-size: 1rem;
                    font-family: Poppins;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i{
                        font-size: 0.7rem;
                        text-align: center;
                        color: rgb(63, 63, 185);
                    }
                }

                h6{
                    font-size: 0.8rem;
                    color: gray;
                }
            }

            p{
                position: absolute;
                top: 35px;
                left: 85px;
                // border: inherit;

                span{
                    color: blue;
                }
            }
        }
    }
}

.user-write{
    border: inherit;
    width: 48%;
    height: inherit;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    position: relative;
    
    img{
        width: 100%;
        height: inherit;
        object-fit: cover;
    }

    .navbar{
        border: inherit;
        width: 100%;
        height: 55px;
        background-color: white;
        position: absolute;
        top: 0;

        .user-img{
            border: inherit;
            width: 50px;
            height: 55px;
            position: absolute;
            top: 0;
            left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
        }

        h6{
            position: absolute;
            left: 80px;
            font-family: Poppins;
        }

        span{
            position: absolute;
            left: 80px;
            top: 27px;
            font-size: 0.8rem;
            color: blue;
        }

        .icons{
            position: absolute;
            right: 0;
            font-size: 1.2rem;

            i{
                margin: 0 10px;
                cursor: pointer;
                color: rgb(73, 72, 72);
            }
        }
    }

    .tom{
        position: absolute;
        top: 220px;
        left: 240px;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .footer{
        border: inherit;
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        form{
            margin: 0 35px;

            i{
                font-size: 1.3rem;
                padding: 10px;
                color: gray;
                cursor: pointer;
            }

            input{
                width: 380px;
                outline: none;
                border: none;

                &:placeholder-shown{
                    padding: 0 20px;
                }
            }
        }

        div{
            font-size: 1.3rem;
            margin: 0 10px;

            i{
                padding: 20px;
                color: gray;
                cursor: pointer;
            }
        }
    }
}

.user-gif-smail{
    border: inherit;
    width: 23%;
    height: inherit;
}