*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards{
    border: 2px solid grey;
    width: 100%;
    height: 100vh;
    display: block;
    align-items: center;
    background-color: grey;

    .user-card{
        width: 80%;
        height: 275px;
        margin: auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;

        .card{
            // border: 2px solid red;
            width: 30%;
            height: 275px;
            background-color: white;
            box-shadow: 5px 5px 15px rgb(185, 126, 126);


            .user-img{
                // border: inherit;
                height: 140px;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 110px;
                    height: 110px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .user-text{
                display: block;
                align-items: center;
                text-align: center;

                h2{
                    color: rgb(32, 158, 158);
                }

                p{
                    padding: 10px 30px;
                }

                i{
                    padding: 5px 10px;
                    color: white;
                    cursor: pointer;
                    background-color: rgb(50, 205, 58);
                }
            }
        }
    }
}