*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // border: 1px solid red;
    outline: none;
}

.header{
    border: inherit;
    width: 100%;
    height: 100vh;
    

    .navbar{
        border: inherit;
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

        ul{
            display: flex;
            justify-content: center;
            list-style: none;
            
            li{
                margin: 0 25px;
                a{
                    text-decoration: none;
                    font-size: 1.2rem;
                    color: #3a414e;
                    transition: all .2s;

                    &:hover{
                        color: #ff9907;
                    }
                }
            }
        }

        .icons{
            li{
                margin: 0 5px;
                a{
                    font-size: 1rem;
                }
            }
        }
    }

    .user-text{
        border: inherit;
        width: 100%;
        height: 88vh;
        background: url(../IMG/header-bacraunr-img.jpg) no-repeat;
        background-size: 100% 800px;
        background-position-y:-100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #f4f4f4FF;
        word-spacing: 3px;
        
        h4{
            font-size: 2rem;
            letter-spacing: 1.5px;
        }
        
        h3{
            font-size: 3rem;
            line-height: 60px;
            letter-spacing: 2px;
        }

        p{
            font-size: 1.3rem;
            letter-spacing: 1px;
        }
    }
}

.section{
    border: inherit;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    color: #FFF;
    background: linear-gradient(90deg, #f13d80 0%, #f48464 100%);

    .div{
        border: inherit;
        width: 100%;

        h1{
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 15px;
            word-spacing: 3px;
            letter-spacing: 1.5px;
        }
        p{
            font-size: 1.1rem;
            letter-spacing: .5px;
        }

        &:nth-child(1){
            height: 200px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 400px;
            flex-wrap: wrap;
        }
        &:nth-child(2){
            height: 450px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;

            .card{
                border: inherit;
                width: 350px;
                height: 430px;

                .user-img{
                    border: inherit;
                    width: 100%;
                    height: 240px;
                    overflow: hidden;
                    background-color: #000;

                    img{
                        height: 100%;
                        transition: all .5s ease;
                        opacity: .7;

                        &:hover{
                            transform: scale(1.2);
                            opacity: 1;
                        }
                    }
                }

                h2{
                    font-size: 1.6rem;
                    margin: 10px 0;
                }
                p{
                    font-size: 1.05rem;
                    letter-spacing: 1px;
                }
            }
        }

    }
}

.section-2{
    border: inherit;
    width: 100%;
    height: 350px;
    background: url(../IMG/section-bac-img.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #00000088;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    padding: 0 300px;
    text-align: center;
    font-size: 1.8rem;
    word-spacing: 1.8px;
    flex-wrap: wrap;

    p{
        font-size: 1.1rem;
        margin: 10px 0;
    }

    button{
        border: none;
        padding: 15px 30px;
        border-radius: 8px;
        margin: 15px 0;
        
        &:hover{
            transition: all .5s;
            color: #FFF;
            background: linear-gradient(90deg, #f13d80 0%, #f48464 100%);
        }
    }
}

.section-3{
    border: inherit;
    width: 100%;
    height: 700px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    color: #000;

    .div{
        border: inherit;
        width: 100%;

        h1{
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 15px;
            word-spacing: 3px;
            letter-spacing: 1.5px;
        }
        p{
            font-size: 1.1rem;
            letter-spacing: .5px;
            color: #8f8f8f;
        }

        &:nth-child(1){
            height: 200px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 400px;
            flex-wrap: wrap;
        }
        &:nth-child(2){
            height: 450px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;

            .card{
                border: inherit;
                width: 350px;
                height: 430px;
                transition: all .3s;

                &:hover{
                    box-shadow: 5px 5px 15px gray;
                }

                .user-img{
                    border: inherit;
                    width: 100%;
                    height: 240px;
                    overflow: hidden;
                    background-color: #000;

                    img{
                        height: 110%;
                        transition: all .5s ease;
                        opacity: .7;

                        &:hover{
                            transform: scale(1.2);
                            opacity: 1;
                        }
                    }
                }

                h2{
                    font-size: 1.6rem;
                    margin: 10px 0;
                    text-align: center;
                    padding: 0 20px;
                }
                p{
                    font-size: 1.05rem;
                    letter-spacing: 1px;
                    text-align: center;
                    padding: 0 20px;
                }
            }
        }

    }
}

footer{
    border: inherit;
    width: 100%;
    height: 350px;
    background-color: #242424;

    .div{
        border: inherit;
        width: 100%;
        height: 220px;

        &:nth-child(1){
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            color: #cccccc;

            h1{
                letter-spacing: 2px;
            }

            form{
                input{
                    height: 30px;
                    margin: 30px 0;
                    outline: none;
                    transition: all .3s;

                    &:nth-child(1){
                        width: 250px;
                        &::placeholder{
                            color: gray;
                            font-family: cursive;
                            letter-spacing: 1.5px;
                        }
                    }
                    &:nth-child(2){
                        padding: 0 20px;
                        background: #acacac;
                        border: none;
                        letter-spacing: 1px;

                        &:hover{
                            color: #FFF;
                            background: linear-gradient(90deg, #f13d80 0%, #f48464 100%);
                        }
                    }
                }
            }

            ul{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                        color: #cccccc;
                        background-color: #7a7a7a;
                        padding: 8px 25px;
                        letter-spacing: 2px;
                        transition: all 1s;
                        &:hover{
                            background: linear-gradient(90deg, #f13d80 0%, #f48464 100%);
                            color: #FFF;
                        }
                    }
                }
            }
        }

        &:nth-child(2){
            border-top: 1px solid #FFF;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;

            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                li{
                    margin: 0 30px;
                    a{
                        text-decoration: none;
                        font-size: 1.2rem;
                        color: #cccccc;
                        transition: all 0.5s;
                        
                        &:hover{
                            color: orange;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and(min-width:500px) and(max-width:3000px) {
    .header{
        .navbar{
            .fa-bars{
                display: none;
            }
        }
    }
}

@media only screen and(min-width:310px) and (max-width:500px) {
    body{
        .header{
            text-align: center;
            .navbar{
                height: 8vh;
                padding: 0 25px;
                img{
                    width: 90px;
                }

                ul{
                    display: none;
                }
            }

            .user-text{
                // background-position: 0 -250px;
                height: 100vh;
                padding: 0 20px;
                h4{
                    font-size: 1.7rem;
                }
                h3{
                    font-size: 2.7rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }

        .section, .section-3{
            text-align: center;
            height: 1600px;
            padding: 0;

            .div{
                &:nth-child(1){
                    padding: 0 30px;
                    h1{
                        font-size: 1.7rem;
                    }

                    p{
                        font-size: 1rem;
                    }
                }
                &:nth-child(2){
                    height: 1400px;

                    .card{
                        h2{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    .section-2{
        padding: 0 20px;
        font-size: 1.3rem;
        background-position: -400px 0;

        p{
            font-size: 1.05rem;
        }

        button{
            padding: 12px 20px;
        }
    }

    footer{
        text-align: center;

        .div{
            &:nth-child(1){
                h1{
                    font-size: 1.8rem;
                }

                ul{
                    li{
                        a{
                            span{
                                display: none;
                            }
                        }
                    }
                }
            }
            &:nth-child(2){
                ul{
                    li{
                        margin: 0 11px;
                        a{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}