*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eeee;
}

.card{
    // border: 1px solid red;
    position: relative;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 80px;

    hr{
        position: absolute;
        top: 50%;
        width: 100%;
        border: 1px solid;
    }

    .cards{
        // border: 1px solid blue;
        width: 32.5%;
        height: 200px;
        position: relative;

        img{
            width: 100px;
            height: 100px;
            padding: 15px;
            border-radius: 50%;
            border: 2px solid white;
            background-color: orange;
            position: absolute;
            top: -50px;
            left: 135px;
        }

        .button{
            width: 100%;
            padding: 5px;
            position: absolute;
            bottom: 0;
            text-align: center;
            background-color: rgba(0,0,0, 0.2);

            a{
                text-decoration: none;
                color: rgba(255, 239, 239, 0.933);
            }
        }

        .mony-name{
            border: inherit;
            width: 100%;
            position: absolute;
            top: 70px;
            font-size: 1.5rem;
            text-align: center;
            color: rgba(255, 239, 239, 0.933);

            h3{
                padding: 10px;
            }
        }
    }

    .card-top{
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
    }

    .card-bottom{
        display: flex;
        justify-content: space-evenly;
        margin-top: 75px;
    }

    .card-1{
        background-color: rgb(42, 46, 46);

        img{
            background-color: rgb(42, 46, 46);
        }
    }

    .card-2{
        background-color: rgb(38, 236, 137);

        img{
            background-color: rgb(38, 236, 137);
        }
    }

    .card-3{
        background-color: rgb(213, 216, 9);

        img{
            background-color: rgb(213, 216, 9);
        }
    }

    .card-4{
        background-color: rgb(33, 65, 245);

        img{
            background-color: rgb(33, 65, 245);
        }
    }

    .card-5{
        background-color: rgb(243, 31, 41);

        img{
            background-color: rgb(243, 31, 41);
        }
    }

    .card-6{
        background-color: rgb(236, 22, 172);

        img{
            background-color: rgb(236, 22, 172);
        }
    }
}