*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards{
    // border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .card{
        border: inherit;
        width: 20%;
        height: 28vh;
        text-align: center;
        padding: 25px;
        background-color: rgb(221, 216, 216);

        i{
            font-size: 1.5rem;
            color: red;
        }

        h1{
            font-size: 2.1rem;
            padding: 15px;
            font-weight: 500;

        }
    }
}